body{
width: 100%;
height: 100%;
overflow: hidden;
}

.var1{
text-align: center
}

.var2{
position: relative;
left: 20%;
}

.var3{
position: relative;
left: 20%;
width: 30%;
height: 200%;
margin: 40px;
padding: 10px;
}

.var4{
position: relative;
left: 20%; 
}

.var5{
position: relative;
width: 30%;
height: 200%;
margin: 40px;
padding: 10px;
left: 4%
}