*{
    margin: 0;
    padding: 0;
}
h1{
    width: 100%;
    margin: 10px 0;
}
h2{
    width: 100%;
    text-align: right;
    margin: 10px 0;
}
ul{
    display: flex;
}
.main{
    margin: auto;
    text-align: center;
    font-size: 30px;
    margin-top: 50px 0;
}
table {
    border-collapse: collapse;
    width:70%;
}
th, td {
   
    padding: 20px;
    border: 1px solid #333;
}
th {
    font-size: 30px;
}