.hr{
border-top: 1px solid #000;
}

.var1{
position: relative;
left: 30px;
}

.var2{
position: relative;
left: 150px;
width: 400px;
height: 25px;
border-radius: 20px;
}

.var3{
position: relative;
width: 400px;
height: 25px;
border-radius: 20px;
left: 35px;
}

.var4{
position: relative;
left: 10px;
}

.var5{
position: relative;
width: 400px;
height: 25px;
border-radius: 20px;
left: 145px;
}

.var6{
position: relative;
width: 400px;
height: 25px;
border-radius: 20px;
left: 85px;
}

.var7{
position: relative;
left: 10px;
}

.var8{
position: relative;
width: 400px;
height: 25px;
border-radius: 20px;
left: 100px;
}

.var9{
position: relative;
left: 20px;
}

.var10{
position: relative;
width: 410px;
height: 32px;
border-radius: 20px;
left: 130px;
}

.var11{
position: relative;
left: 20px;
}

.var12{
position: relative;
width: 400px;
height: 25px;
border-radius: 20px;
left: 160px;
}

.var13{
position: relative;
left: 10px;
}

.var14{
position: relative;
width: 400px;
height: 25px;
border-radius: 20px;
left: 145px;
}


.var15{
position: relative;
left: 20px;
}

.var16{
position: relative;
left: 200px;
}

.var17{
position: relative;
left: 350px;
}

.var18{
position: relative;
left: 10px;
}

.var19{
position: relative;
width: 400px;
height: 25px;
border-radius: 20px;
left: 145px;
}

.var20{
position: relative;
left: 10px;
}

.var21{
position: relative;
width: 400px;
height: 25px;
border-radius: 20px;
left: 145px;
}

.var22{
position: relative;
left: 20px;
}

.var23{
position: relative;
width: 400px;
height: 25px;
border-radius: 20px;
left: 180px;
}

.var24{
position: relative;
left: 20px;
}

.var25{
position: relative;
width: 400px;
height: 25px;
border-radius: 20px;
left: 155px;
}

.var26{
position: relative;
left: 10px;
}

.var27{
position: relative;
width: 400px;
height: 25px;
border-radius: 20px;
left: 140px;
}

.var28{
position: relative;
left: 20px;
}

.var29{
position: relative;
width: 400px;
height: 100px;
left: 180px;
}
